body {
    background-color: #c6e1ec;
    color: #000000;
}


article {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#formButtons {
    text-align: center;
}

.okay {
    border: solid green 2px;
}

.error {
    border: solid red 2px;
}
)