body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #173b80;
    color: #4fa81f;
}

#main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #dddddd;
    padding: 20px;
}

/*#toDoList h1 {*/
    /*text-align: center;*/
/*}*/

#list {
    width: 40%;
    border: solid 3px #4fa81f;
    /*border-bottom: none;*/

}

li {
    background-color: #173b80;
    color: #4fa81f;
    /*border-top: solid 2px #4fa81f;*/
    border-bottom: solid 2px #4fa81f;
    padding: 10px;
    text-decoration: none;
}

li:last-child {
    border-bottom: none;
}